<html>
<head>
    <link rel="stylesheet" href="a.css">
    <div class="header">
        <div class="header-right">
                <img src="TBJ.png">
         <a class="active"href="/deletetask">Delete Task</a>
            <a href="/addtask">Add New Task</a>
            <a href="/listtasks">List All Tasks</a>
            <a href="/listdevelopers">List Developers</a>
            <a href="/updatetask">Update Tasks</a>
            <a href="/adddeveloper">Add New Developer</a>
            <a href="/">Home</a>
        
        </div>
</head>
<body>
   
    <form action="/deletetaskdata" method="POST">
        <label><font size="+2"><b>Task ID: </b></font></label>
        <input type="text" placeholder="Task ID" name="taskId"> </br>
        <button type="submit">Submit</button>
    </form>

    <form action="/deletealltasks" method="POST">
        <label><font size="+2"><b>Delete All Completed Tasks: </b></font></label>
        <button type="submit">Delete</button>
    </form>
</body>
</html>