<html>
<head>
    <link rel="stylesheet" href="styles.css">
 
</head>
<div class="header">
    <div class="header-right">
            <img src="TBJ.png">

      <a class="active" href="#home">Home</a>
       <a href="/addtask">Add New Task</a>
        <a href="/listtasks">List All Tasks</a>
        <a href="/deletetask">Delete Task</a>
        <a href="/updatetask">Update Tasks</a>
        <a href="/adddeveloper">Add New Developer</a>
        <a href="/listdevelopers">List Developers</a>
    </div>
 
</div>

</html>